aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
appdirs
attrs
brotli
certifi
cffi
cfgv
charset-normalizer
click
colorama
contourpy
cryptography
cycler
dataclasses-json
datasets
dill
diskcache
distlib
distro
docstring_parser
fastapi
ffmpy
filelock
filetype
fonttools
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
gradio
gradio_client
greenlet
groovy
grpcio
grpcio-status
grpcio-tools
h11
h2
hf-xet
hpack
httpcore
httplib2
httpx
httpx-sse
huggingface_hub
hyperframe
identify
idna
importlib_metadata
importlib_resources
instructor
Jinja2
jiter
joblib
jsonpatch
jsonpointer
kiwisolver
langchain
langchain
langchain
langchain
langchain
langchain
langchain
langchain
langgraph
langgraph
langgraph
langgraph
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mpmath
multidict
multiprocess
mypy_extensions
nest-asyncio
networkx
nodeenv
numpy
openai
orjson
ormsgpack
packaging
pandas
pillow
platformdirs
portalocker
pre_commit
propcache
proto-plus
protobuf
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
PyMySQL
pyparsing
PyPDF2
python-dateutil
python-discovery
python-dotenv
python-multipart
pytz
PyYAML
qdrant-client
ragas
rank-bm25
regex
requests
requests-toolbelt
rich
ruff
safehttpx
safetensors
scikit-learn
scikit-network
scipy
semantic-version
sentence-transformers
setuptools
shellingham
six
sniffio
SQLAlchemy
starlette
stripe
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
tomlkit
torch
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uuid_utils
uvicorn
virtualenv
websockets
xxhash
yarl
zipp
zstandard
passlib
python-jose[cryptography]
