fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
pymysql
cryptography
rank_bm25
google-generativeai
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.4
langchain-google-genai==1.0.8
langchain-qdrant==0.1.4
qdrant-client==1.10.1
protobuf==4.25.3
pydantic>=2.0.0
pydantic-settings
jinja2
setuptools
huggingface-hub>=0.25.1
gradio>=5.0.0
requests==2.32.3
psycopg2-binary
PyPDF2
stripe
typing-extensions
ragas
datasets
pandas
tqdm
sentence-transformers
